.MyResume {
    background-color: #f6f6f6;
    width: 92%;
    padding-top: 1%;
    padding-left: 1%;
    font-family: "Poppins";
    font-size: medium;
    color: black;
    font-weight: bold;
  }

  