/* YourComponent.css */
.full-page-container {
    display: flex;
    height: 100vh;
    width: 10%;
  }
  
  .left-panel {
    width: 250px;
    background-color: rgb(43, 42, 42);
    color: white;
    font-size: small;
  }
  
  .content {
    flex: 1;
    padding: 20px;
  }
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }


  .MyDashboard
  {
    background-color: rgb(245, 238, 238);
    width: 100%;
    padding-top:3%;
    padding-left:3%;
    font-family:'Poppins';
    font-size: medium;
    color:black;
  }
  .search
  {
    text-align: right;
  }
  .left-div {
    flex:1;
    float: left;
    width: 50%;
    padding:2px;
  }
  
  .right-div {
    flex:1;
    float: right;
    width: 50%;
    padding:2px;
  }
  