/* YourComponent.css */
.full-page-container {
    display: flex;
    height: 100vh;
    width: 8%;
  }
  
  .left-panel {
    width: 250px;
    background-color: rgb(43, 42, 42);
    color: white;
    font-size: small;
  }
  
  .content {
    flex: 1;
    padding: 20px;
  }
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }


  .MyDashboard
  {
    background-color: #f6f6f6;
    width: 100%;
    padding-top:1%;
    padding-left:1%;
    font-family:'Poppins';
    font-size: medium;
    color:black;
    font-weight: bold;
  }
  .search
  {
    text-align: right;
  }
  .left-div {
    flex:1;
    float: left;
    width: 35%;
    padding:2px;
    padding-top: 15px;
  }
  
  .right-div {
    flex:1;
    float: right;
    width: 65%;
    padding:15px;
  }
  

.CompanyName
{
  font-size: larger;
}

.containerH {
  display: flex;
  justify-content: space-between; /* Adjust as needed */
}

.box {
  width: 22%; /* Adjust as needed */
  box-sizing: border-box; /* Optional: Include padding and border in the total width */
}

.SearchText
{
  text-align: right;
  border-radius: 35px;
}

.headMrfSummary
{
  background-color: white;
  
  flex:1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border:  1px solid #e9ecef;
}

.headResumeSummary
{
  background-color: white;
  
  flex:1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border:  1px solid #e9ecef;
}

.headinterviewSummary
{
  background-color: white;
 
  flex:1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border:  1px solid #e9ecef;
}

.spSummary
{
  font-size: 14px ;
 
  padding: 15px;
  
}
.table-header
{
  
  font-size: small;
  font-weight: bold;
  background-color: #fafbfd;
  border-width: 0 0 1px 0;
  border: 1px solid #e9ecef;
}
.table-header th
{border-width: 0 0 1px 0;
  border-bottom: 1px solid #e9ecef;
  padding: .5rem .5rem;
}
.StatusHeader th
{border-width: 0 0 1px 0;
  border-bottom: 1px solid #e9ecef;
  padding: .5rem .5rem;
}
.column-widthFirst
{
  width: 20%;
  border-width: 0 0 1px 0;
  border-top: 1px solid #e9ecef;
}
.column-width
{
  width: 80%;
  border-width: 0 0 1px 0;
  border-top: 1px solid #e9ecef;
}
.StatusHeader
{ font-size: small;
  font-weight: bold;
  background-color: #fafbfd;
  
  color: #abacae;
}

.table-row
{
  font-size: small;
  color: #495057;
  font-weight: 400;
 
}

.table-row td
{ 
  box-sizing: border-box;
  padding: .5rem .5rem;
  border-width: 0 0 1px 0;
  border-bottom: 1px solid #e9ecef;
}


