@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.req-card {
  border-radius: 0.5rem;
  background-color: white;
  padding: 0.5rem;
  height: 81vh;
  font-family: "Poppins", sans-serif;
}

.req-header {
  margin: 0;
  font-size: 16px;
  color: black;
}

.req-table-header {
  font-size: 14px;
  margin: 0;
}

.ref-col {
  width: 20%;
}

.ref-col-cell {
  margin: 0;
  color: #d32f2e;
  text-decoration: underline;
}

.req-col {
  font-size: 14px;
  color: #0b1016;
  min-width: 10%;
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background-color: rgba(215, 107, 107, 0.249);
}

.p-paginator .p-paginator-pages .p-paginator-page:not(.p-highlight):hover {
  background-color: rgba(184, 89, 89, 0.103);
}
