 
.checkbox-container {

  margin-left: 30vw;
  font-weight: 500;
  color:#0b1016;
  font-size: 15px;
  background-color: rgb(255, 255, 255);
  width: 40vw;
  margin-top: 27vh;
  height: 45vh;
  padding: 4vw;
  border-radius: 5px;
  border: 1px solid black;
  
}
 label{
    margin: 8px;
 }
 .openstatus{
    background-color: #f6f6f6;
    width: 100vw;
    height: 100vh;
    padding-top: 1%;
    padding-left: 1%;
    font-family: "Poppins";
    font-size: medium;
    color: black;
    font-weight: bold;
  }
.checkbox-container > div {

  margin-bottom: 10px;

}
 
.textbox-container {

  margin: 10px;
  

}

.button-container {

  margin-top: 20px;
   
}
 
.button-container .p-button {

  margin-right: 10px;
  width: 6vw;

}

h4:hover {
  cursor:pointer;
 }
 