.resume-card {
    position: absolute;
    top: 15%;
    right: 5%;
    width: 80%;
    border-radius: 1rem;
    background-color: white;
    padding: 0.5rem;
    max-height: 600px;
    font-family: "Poppins", sans-serif;
  }
  .resume-card .p-dialog-content {
    overflow-y: hidden;
    /* flex-grow: 1; */
}
  
/* .req-header {
    margin: 0;
    font-size: 16px;
    color: black;
  }
   */
  .resume-table-header {
    font-size: 14px;
    margin: 0;
    color: #0b1016;
  }
  
  .resume-ref-col {
    width: 25%;
    /* background-color: aqua; */
  }
  
  .resume-col-cell {
    margin: 0;
    font-size: 14px;
    color: #d32f2e;
    font-weight: 500;
    text-decoration: underline;
  }
  
  .resume-col {
    font-size: 14px;
    color: #0b1016;
    font-weight: 500;
    min-width: 10%;
  }
  
  .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background-color: rgba(215, 107, 107, 0.249);
  }
  
  .p-paginator .p-paginator-pages .p-paginator-page:not(.p-highlight):hover {
    background-color: rgba(184, 89, 89, 0.103);
  }
  