.mrfdraft-card {
  position: absolute;
  top: 10%;
  width: 90%;
  border-radius: 0.5rem;
  background-color: white;
  padding: 0.5rem;
  max-height: 86vh;
  font-family: "Poppins", sans-serif;
}

.mrfdraft-card .p-dialog-title {
  font-size: 16px;
}

.mrfdraft-card .p-dialog-content {
  text-align: center;
  padding-bottom: 20px;
  /* overflow-y: hidden; */
  /* flex-grow: 1; */
}

/* .req-header {
    margin: 0;
    font-size: 16px;
    color: black;
  }
   */
.mrfdraft-table-header {
  font-size: 14px;
  margin: 0;
  color: #0b1016;
}

.mrfdraft-ref-col {
  width: 17%;
}

.mrfdraft-col-hyperlink {
  margin: 0;
  font-size: 14px;
  color: #af1414;
  font-weight: 500;
  text-decoration: underline;
}

.mrfdraft-col {
  font-size: 14px;
  color: #0b1016;
  font-weight: 500;
}
