.dashBoard_table .p-datatable .p-datatable-header {
  background-color: #ffffff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid #e3e3e3;
}

.dashBoard_table {
  margin-left: 20px;
  margin-bottom: 23px;
}

.dashBoard_table .p-datatable-flex-scrollable > .p-datatable-wrapper {
  border: 1px solid #e3e3e3;
  border-width: 0px 1px 0px 1px;
  background-color: aqua;
}

.dashBoard_table .p-datatable .p-paginator-bottom {
  border: 1px solid #e3e3e3;
  border-width: 0 1px 1px 1px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.dash_table_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dash_summary_title{
  margin: 0.4rem;
  font-size: 16px;
	font-weight: 700;
	/* margin: 0; */
	/* margin-bottom: 15px; */
	color: #0b1016;
}



.dashBoard_table .p-datatable .p-datatable-thead > tr > th {
  width: 300px;
  padding-left: 28px;
  font-size: 14px;
  font-weight: 600;
  color: #0b1016;
}
/* .statusHeading {
  display: flex;
  align-items: center;
  background-color: rgb(16, 117, 117);
justify-content: center;
} */


.dash_table_header .search-box{
  
  /* border-top-left-radius: 10%;*/
  /* border-top-radius: 10%; */
  /* border-radius-top: 50%; */

} 
.dash_status_col{
  padding-left: 35px;
  font-weight: 500;
  font-size: 14px;
}
 /* .p-datatable .p-column-header-content{
  display: flex;
    align-items: center;
    justify-content: center;
} */