 
  header {
    height: 8vh;
    padding: 1.6vh;
    border-bottom: 1px solid rgb(212, 212, 212);
  }
  
  .logo {
    margin-right: auto;
  
    & h4 {
      font-weight: light;
    }
  }
  .logged-in-user{
    text-transform: uppercase;
  }
  .acc-name {
    color: gray;
  
    & button {
      background-color: transparent;
      color: gray;
      margin: auto 2vw;
    }
  }
  
  .acc-logo {
    border: 1px solid gray;
    text-align: center;
    border-radius: 50%;
    padding: 1.2vh;
    color: black;
    font-weight: bolder;
    margin-right: 1vw;
  }