.p-inputnumber, .p-inputnumber-input, .p-inputnumber-input{
    font-size: 14px;
      font-weight: 400;
      color: #6d6d6d;
      background-color: #ffffff;
  }

  .p-button.p-button-icon-only,
.p-checkbox .p-checkbox-box.p-highlight {
  background-color: #d32f2e;
  border-color: #d32f2e;
}

.p-dialog-header-icon {
  background-color: #d32f2e;
  border-radius: 2px;
  color: white;
}
.p-dialog-header-icon:focus-visible {
  box-shadow: 0 0 0 0.2rem #d32f2e;
}

.p-dropdown-label {
  color: #6d6d6d;
  font-weight: 400;
  font-size: 14px;
}

.p-multiselect-label {
  color: #6d6d6d;
  font-weight: 400;
  font-size: 14px;
}

.p-dropdown-item,
.p-multiselect-item {
  color: #0b1016;
  font-weight: 400;
  font-size: 14px;
}

.p-checkbox-box:hover,
.p-multiselect:hover,
.p-dropdown:hover,
.p-inputtext:hover {
  border-color: #d32f2e;
}

.p-focus,
.p-inputtext:focus,
.p-button:focus {
  border-color: #d32f2e;
  box-shadow: 0 0 0 0.2rem #faa5a5;
}

.custom-width {
  
  width: 150px;
  
}

.email_dropdown .p-dropdown-label {
  color: rgb(0, 0, 0);
  font-weight: 500;
  }
  .email_dropdown .p-dropdown {
  color: rgb(0, 0, 0);
  font-weight: 500;
  /* background: aqua; */
  /* border: 1px solid aqua; */
  }
  .email_dropdown .p-inputtext {
  color: rgb(0, 0, 0);
  font-weight: 500;
  }

  .update_btn{
    background-color: #d32f2e;
   
    color: #ffffff;
    border-radius: 5px;
    width: 15%;
    margin-right: auto;
   
  }
 /* .update_btn:hover{
    background-color: #d32f2e;
    color: #ffffff;
    border-radius: 5px;
  }

  .hod_btn{
    background-color: #ffffff;
    border: 1px solid #d32f2e;
    color: #d32f2e;
    border-radius: 5px;
    width: 50%;
    padding-left: 2px;
    padding-right: 2px;

  }
  .hod_btn:hover{
    background-color: #d32f2e;
    color: #ffffff;
    border-radius: 5px;
  } */

  .cancel_btn{
    background-color: #ffffff;
    border: 1px solid #d32f2e;
    color: #0b1016;
    font-weight: 600;
    width: 15%;
    margin-right: auto;
  }