.p-inputnumber,
.p-inputnumber-input {
  font-size: 14px;
  font-weight: 400;
  color: #6d6d6d;
  background-color: #f5f5f5;
}

.p-dropdown,
.p-multiselect-label-container,
.p-multiselect-trigger {
  background-color: #f5f5f5;
}

.int-card .p-dropdown .p-multiselect {
  background-color: #ffffff;
}

.p-button.p-button-icon-only,
.p-checkbox .p-checkbox-box.p-highlight {
  background-color: #d32f2e;
  border-color: #d32f2e;
}

.p-dialog-header-icon {
  background-color: #ffffff;
  border-radius: 2px;
  color: #4b4b4b;
  border: 1px solid #a0a0a0;
  border-radius: 5px;
}
.p-dialog-header-icon:hover {
  background-color: #d32f2e;
  border-radius: 2px;
  color: white;
  border: 1px solid #d32f2e;
  border-radius: 5px;
}
.p-dialog-header-icon:focus-visible {
  box-shadow: 0 0 0 0.2rem #ffffff;
}

.p-dropdown-label {
  color: #6d6d6d;
  font-weight: 500;
  font-size: 14px;
}

.p-multiselect-label {
  color: #6d6d6d;
  font-weight: 500;
  font-size: 14px;
}

.p-dropdown-item,
.p-multiselect-item {
  color: #0b1016;
  font-weight: 500;
  font-size: 14px;
  background-color: #ffffff;
}

.p-dropdown-item:hover,
.p-multiselect-item:hover {
  color: #0b1016;
  font-weight: 400;
  font-size: 14px;
  background-color: #e9ecef;
}

.p-checkbox-box:hover,
.p-multiselect:hover,
.p-dropdown:hover,
.p-inputtext:hover {
  border-color: #d32f2e;
}

.p-focus,
.p-inputtext:focus,
.p-button:focus {
  border-color: #d32f2e;
  box-shadow: 0 0 0 0.2rem #faa5a5;
}

.custom-width {
  width: 75px;
}

.email_dropdown .p-dropdown-label {
  color: rgb(0, 0, 0);
  font-weight: 500;
}
.email_dropdown .p-dropdown {
  color: rgb(0, 0, 0);
  font-weight: 500;
  /* background: aqua; */
  /* border: 1px solid aqua; */
}
.email_dropdown .p-inputtext {
  color: rgb(0, 0, 0);
  font-weight: 500;
}
.p-inputtext {
  background-color: #f5f5f5;
  color: #6d6d6d;
  font-weight: 500;
  font-size: 14px;
}

.update_btn {
  background-color: #d32f2e;

  color: #ffffff;
  border-radius: 5px;
  width: 15%;
  margin-right: auto;
}
/* .update_btn:hover{
    background-color: #d32f2e;
    color: #ffffff;
    border-radius: 5px;
  }

  
  .hod_btn:hover{
    background-color: #d32f2e;
    color: #ffffff;
    border-radius: 5px;
  } */

.cancel_btn {
  background-color: #ffffff;
  border: 1px solid #d32f2e;
  color: #d32f2e;
  font-weight: 600;
  width: 15%;
  padding: 5px;
}

.update_btn {
  color: #ffffff;
  width: 150px;
  background-color: #d32f2e;
  font-size: 14px;
  font-weight: 500;
}

.update_btn:disabled {
  color: #ffffff;
  width: 150px;
  font-size: 14px;
  font-weight: 500;
  background-color: #c5c5c5;
}

.hod_btn {
  color: #ffffff;
  width: 150px;
  background-color: #d32f2e;
  font-size: 14px;
  font-weight: 500;
  padding: 0px;
}
.hod_btn:disabled {
  color: #ffffff;
  width: 150px;
  font-size: 14px;
  font-weight: 500;
  background-color: #c5c5c5;
  padding: 0px;
}

.finance_btn {
  color: #ffffff;
  width: 150px;
  background-color: #d32f2e;
  font-size: 14px;
  font-weight: 500;
  padding: 0px;
}
.finance_btn:disabled {
  color: #ffffff;
  width: 150px;
  font-size: 14px;
  font-weight: 500;
  background-color: #c5c5c5;
  padding: 0px;
}

.acknowledge_btn {
  color: #ffffff;
  width: 150px;
  background-color: #d32f2e;
  font-size: 14px;
  font-weight: 500;
  padding: 10px;
}

.acknowledge_btn:disabled {
  color: #ffffff;
  width: 150px;
  font-size: 14px;
  font-weight: 500;
  background-color: #c5c5c5;
  padding: 10px;
}

.coo_btn {
  color: #ffffff;
  width: 150px;
  background-color: #d32f2e;
  font-size: 14px;
  font-weight: 500;
  padding: 0px;
}

.coo_btn:disabled {
  color: #ffffff;
  width: 150px;
  font-size: 14px;
  font-weight: 500;
  background-color: #c5c5c5;
  padding: 0px;
}

.save_draft_btn {
  background-color: #d32f2e;
  color: #ffffff;
}
.submit_btn {
  background-color: #d32f2e;
  color: #ffffff;
  width: 125px;
}

.resume_update_btn {
  background-color: #d32f2e;
  color: #ffffff;
}

.resume_update_btn:disabled {
  color: #ffffff;
  background-color: #c5c5c5;
}

.submit_btn_feedback {
  color: #ffffff;
  width: 160px;
  margin: 20px;
  background-color: #d32f2e;
  font-size: 14px;
  font-weight: 500;
}

.submit_btn_feedback:disabled {
  color: #ffffff;
  width: 160px;
  font-size: 14px;
  font-weight: 400;
  background-color: #c5c5c5;
}

/* .resume_assign_upload {
  input{
color: #d32f2e;
  background-color: rgb(1, 49, 49);

  }
  
} */

.p-editor-container .p-editor-content .ql-editor {
  background-color: #f5f5f5;
  color: #6d6d6d;
  font-weight: 400;
  font-size: 15px;
}
