.int-card {
	position: absolute;
	top: 10%;
	width: 90%;
	border-radius: 0.5rem;
	background-color: white;
	padding: 0.5rem;
	max-height: 86vh;
	font-family: "Poppins", sans-serif;
}
.int-card .p-dialog-title {
	font-size: 16px;
}
.int-card .p-dialog-content {
	text-align: center;
	padding-bottom: 20px;
}

.no-res-card {
	top: 30%;
	width: 30%;
}

.int-header {
	margin: 0;
	font-size: 16px;
	color: black;
}

.int-card th {
	font-size: 14px;
	color: black;
	/* text-align: center; */
}
.int-card .p-highlight,
.int-card .p-highlight .p-sortable-column-icon {
	color: #d32f2e;
}
.int-link-cell {
	margin: 0;
	color: #d32f2e;
	text-decoration: underline;
	text-underline-offset: 5px;
	cursor: pointer;
}

.int-col {
	font-size: 14px;
	font-weight: 500;
	color: #0b1016;
	width: 10%;
	min-width: max-content;
}
.drop-col {
	width: 18%;
}
.int-status-col {
	width: 15%;
}
.int-edit-col {
	text-align: center;
	width: 4%;
}

.drop-width {
	margin: 0;
	width: 100%;
	text-wrap: balance;
}

.p-dropdown,
.p-inputtextarea {
	font-size: 14px;
	font-weight: 400;
	color: #6d6d6d;
}
.p-dropdown-label {
	text-wrap: balance;
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
	background-color: rgba(215, 107, 107, 0.249);
}

.p-paginator .p-paginator-pages .p-paginator-page:not(.p-highlight):hover {
	background-color: rgba(184, 89, 89, 0.103);
}


 .action_btn{
	color: #ffffff;
	background-color: #d32f2e;
  }
  .action_btn:disabled{
	color: #ffffff;
	background-color: #c5c5c5;
  }