.feed-popup {
	font-weight: 500;
	color: #0b1016;
	width: 90%;
    height: 88vh;
}
.feed-popup .p-dialog-content {
	padding: 0;
}

.feed-popup .p-dialog-title {
	font-size: 16px;
}

.no-feed {
	width: 300px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

.feed-popup-content {
	margin: 0;
	width: 600px;
	font-size: 14px;
	padding: 20px 30px;
	padding-top: 0;
}

.feed-li {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.feed-li p:first-child {
	color: #d32f2e;
	min-width: 100px;
}


.feed-table {
	border-radius: 0.5rem;
	background-color: white;
	padding: 0.5rem;
	width: 95%;
	margin-left: 2%;
	margin-right: 2%;
	
}



.feed-table th {
	font-size: 14px;
	color: black;
	background-color: rgb(14, 190, 132);
	padding: 10px;
	/* text-align: center; */
}

.feed-table td {
	padding: 15px;
	/* text-align: center; */
}

.feed-table .p-highlight,
.feed-table .p-highlight .p-sortable-column-icon {
	color: #d32f2e;
}

.ref-col-cell {
	margin: 0;
	font-weight: 500;
	color: #d32f2e;
	text-decoration: underline;
	text-underline-offset: 5px;
	cursor: pointer;
}

.feed-col {
	font-size: 14px;
	font-weight: 500;
	color: #0b1016;
	
	min-width: max-content;
}

.feed-col-round {
	width: 12%;
}

.feed-col-comments {
	width: 80%;
	height: 10vh;
	/* background-color: aqua; */
	padding-right: 50%;
	min-width: max-content;
}

.dvAddFeedback
{	
	padding-left: 80px;
}

.dvinputFeedback
{   width:100%;
	height: 10%;
	padding: 10px;
}

.inputRound
{
	width:70%;
	height: 20%;
	padding-left: 5px;
	font-weight: 300;
}

.dropdown-custom {
	width:200px;
	height:40px;
}


.feedback-popup {
	height: 88vh;
}

.feedback-table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
	margin-left: 20px;
	font-size: 14px;
	color: #0b1016;
	
  }
  
  .feedback-table th, .feedback-table td {
	border-bottom: 1px solid #ddd;
	padding: 8px;
	text-align: left;
  }
  
  .feedback-table th {
	background-color: #fafbfd;
  }
  
  .inputRound {
	width: 100%;
	box-sizing: border-box;
	/* Add any additional styles as needed */
  }

  .lableRound
  {
	margin-left: 20px;
	font-weight: bold;
	padding-top:20px;
	font-size: 16px;
    color: black;
  }

  .viewfeedback-table {
	width: 100%;
	
	border-collapse: collapse;
	margin-top: 10px;
	margin-left: 20px;
	font-size: 14px;
	color: #0b1016;
	
  }
  
  .viewfeedback-table th, .viewfeedback-table td {
	border-bottom: 1px solid #ddd;
	padding: 8px;
	text-align: left;
  }
  
  .viewfeedback-table th {
	background-color: #fafbfd;
  }

  .round-container
  {
	padding-top: 10px;
  }
  